<div class="container">
  <div class="col-md-7">
	<h2><%= @event.name.capitalize %> </h2>
	<h4><%= @event.time.strftime("%d %b %Y %l:%M %p") %> </h4>
	<h4><%= @event.description%> </h4>
	<h4><%= @event.venue %></h4>
  </div>
  <div class="col-md-4">
	<h3>Attendees</h3>
	<% @attendees.each do |attendee| %>
		<table class="table">
			<tbody>
				<tr>
					<td><h4><%= attendee.user.name.capitalize%></h4></td>
					<td><h4><%= attendee.user.gender %></h4> </td>
		 		</tr>
		 	</tbody>
		 </table>
	<% end %>	
    <% if @event.time > Time.now %>
	  	<% if user_signed_in? %>
			<% if current_user.attendees.where(event_id: @event.id).count == 0 %>
				<%= link_to "Attend", attend_event_path(@event), method: :get, class:"btn btn-raised btn-success"%>
			<% else %>
				<%= link_to "Unattend", unattend_event_path(@event), method: :get, "data-confirm" => "Are you sure?", class:"btn btn-raised btn-warning"%>
			<% end %>
	  	<% else %>
	     	<h5> Want to attend the meetup ? <%= link_to "Log In",new_user_session_path %> </h5>		
	  	<% end %>
    <% else %>
	     <h4> The event was finished.</h4>
    <% end %>
    <%= link_to "BACK",event_index_path, class: "btn btn-raised btn-info" %>
  </div>
</div>